<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	<head>
				<meta charset="UTF-8">
				<title>Clientes</title>
				<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
				<link  th:href="@{/css/index.css}" type="text/css" rel="stylesheet"/>
				<link  th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/> 
	</head>
	<body > 
	
			  <nav class="navbar navbar-expand-lg  navbar-dark fixed-top " style="background-color: #218838">

			      <a class="navbar-brand" href="/index">Home</a>
	
						  <button class="navbar-toggler" type="button" data-toggle="collapse" 
						  data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
						  aria-label="Toggle navigation">
						    <span class="navbar-toggler-icon"></span>
						  </button>
						  
				<div class="collapse navbar-collapse" id="navbarNav">
			      
			        <ul class="navbar-nav mr-auto">
			          <li class="nav-item ">
			            <a class="nav-link" href="/agenda"> Agenda <span class="sr-only">(current)</span></a>
			          </li>
			          <li class="nav-item">
			            <a class="nav-link" href="/clientes">Clientes</a>
			          </li>
			          <li class="nav-item">
			            <a class="nav-link" href="/novocadastro">Novo Cadastro</a>
			          </li>
			           <li class="nav-item">
			            <a class="nav-link" href="#">Lista de espera</a>
			          </li>
			        </ul>
			        </div>
			        

			  
		    </nav>
	  				
	  				
			<div class="container" >
				<div class="div-box">
				
					<div class="form-row">
						<div class="form-grupo col-md-8">
						</div>
						
						
						<div class="form-grupo col-md-4">
						
						<form th:action="@{/clientes}" method="POST" class="form-inline ">
							<input name="nome" type="search" class="form-control  mr-sm-2" placeholder="Nome">
							<button type="submit" class="btn btn-outline-success my-2 my-sm-0">Buscar</button>

						</form>
						
						</div>
					
					</div>
					
					<div class="div-table table-responsive-sm" >
				
							<table class="table table-sm table-dark table-hover table-bordered ">
						
								<thead>
								
									 <tr class="bg-success d-flex">  
									 	<th class="col-6">Nome</th>
									 	<th class="col-3">Convênio</th>
									 	<th class="col-3">Data Nascimento</th>
									 
									 </tr>
								</thead>
								
								<tbody>
								
	 		<tr th:each="Cliente :${listacliente}" class="d-flex">
	 		 
		 		 <td class="col-6" > <a class="link-c" th:text="${Cliente.nome}"  
		 		 th:href="${(#mvc.url('IC#detalhesClientes').arg(0,Cliente.codigo)).build()}"> </a>  </td>
		 		 <td  class="col-3" th:text="${Cliente.convenio}"></td>
		 		 <td  class="col-3" th:text="${Cliente.datanasc}"></td>
			
	 		</tr>
						
								
								
								</tbody>
						
						
						</table>
						
					</div>	
	 				
				
				</div>
			    
			</div>
	  				
	  				<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
					<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
	
	</body>
	
				
</html>