<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
		<head>
				<meta charset="UTF-8">
				 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
				 <link  th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/> 
				 <!--   
				 <link  th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/> 
				  -->
				<title>Insert title here</title>
		</head>
		<body>
		
				<div class="container-fluid" style="background-color:#FF0000">
						<h1>FUNCIONANDO</h1>
						
						
				</div>
				
				
		</body>
</html>