html,
body{
	background-color: #000;
}

.sair-nome:hover {
	color: #fff !important;  /** Cor branco quando tiver selecionado **/
	text-decoration: none;
}	

.sair-nome{
	color: rgba(255,255,255,.5) !important; /** Cor transparente antes de selecionar */
	
}

.div-box{  /* Cadastro espaço da parte cima */
	color: #fff;
	margin-top: 80px;
	height: 800px;
	width:  100%;
	
}
.bg-color{
	background-color: #218838; /** cor do navbar */
}

