html,
body{
	
	background-color: #000 !important;
}

.sair-nome:hover {
	color: #fff !important;  /** Cor branco quando tiver selecionado **/
	text-decoration: none;
}	

.sair-nome{
	color: rgba(255,255,255,.5) !important; /** Cor transparente antes de selecionar */
	
}

.div-box{  /* Cadastro espaço da parte cima */
	color: #fff;
	margin-top: 80px;
	height: 100%;
	width:  100%;
	
	
}
.bg-color{
	background-color: #218838; /** cor do navbar */
}
.div-table{
	margin-top: 30px;
}

.label-n:after{
	color: #FF0000;
	content: "  *";
}

a.link-c:link{
	
	text-decoration: none;  /* Tirar sublinhado*/
}

.link-c:hover{
	color: #00FF00;
}

.link-c{
	color: inherit; /* Mudar cor do link de azul para branco*/
}

input{
	color: #000 !important; 
}












